* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content, .nested-content {
    height: 200px;
    text-align: center;
    line-height: 200px;
}

.content {
    background: #FFC0CB;
    border: 1px solid #000;
}

.nested-content {
    background: #F07F80;
}
